.popup-container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.popup-header {
    text-align: center;
    color: var(--purple-color);
}

.popup-tagline .header-title {
    text-align: center;
    font-size: 11px;
    margin-top: 0px;
}

.popup-content {
    flex: 1;
    overflow: auto;
}
